x-airflow-common:
  &airflow-common
  build: .
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: ${AIRFLOW__CORE__LOAD_EXAMPLES:-False}
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth'
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: ${AIRFLOW__WEBSERVER__EXPOSE_CONFIG:-True}


    SNOWFLAKE_ACCOUNT: ${SNOWFLAKE_ACCOUNT:-}
    SNOWFLAKE_USER: ${SNOWFLAKE_USER:-}
    SNOWFLAKE_PASSWORD: ${SNOWFLAKE_PASSWORD:-}
    SNOWFLAKE_ROLE: ${SNOWFLAKE_ROLE:-}
    SNOWFLAKE_WAREHOUSE: ${SNOWFLAKE_WAREHOUSE:-}
    SNOWFLAKE_DATABASE: ${SNOWFLAKE_DATABASE:-}
    SNOWFLAKE_SCHEMA: ${SNOWFLAKE_SCHEMA:-}
    SNOWFLAKE_HOST: ${SNOWFLAKE_HOST:-}

    _PIP_ADDITIONAL_REQUIREMENTS: ''
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - ./snowflake:/opt/airflow/snowflake
    - ./data:/opt/airflow/data
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    - postgres

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db migrate
        airflow users create           --username "${AIRFLOW_USER:-airflow}"           --password "${AIRFLOW_PASSWORD:-airflow}"           --firstname Airflow           --lastname Admin           --role Admin           --email admin@example.com
    restart: "no"

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      - airflow-init

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    restart: always
    depends_on:
      - airflow-init

volumes:
  postgres-db-volume: